# Python
__pycache__/
*.py[cod]
*.so

# Virtualenv
env/
venv/
ENV/
env3.13/

# Django
*.log
*.pot
*.pyc
db.sqlite3
/staticfiles/
media/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

ecommarce/ecommarce.zip
